<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
<servers>
    <server>
        <id>central</id>
        <username>HG13Ze</username>
        <password>TpvZZRaPrFy9U0hajfIMEcgO6zoBQwqdY</password>
    </server>
</servers>

<profiles>
    <profile>
        <id>gpg-sign</id>
            <properties>
                <gpg.keyname>{GPG_KEY}</gpg.keyname>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>gpg-sign</activeProfile>
    </activeProfiles>
</settings>
